* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(250deg, #FFFFFF, #d7e1ec);
  margin: 100px 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: dotted #c8cece 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 3.5%;
}

h1 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
}

h2 {
  color: #11999E;
}

p {
  line-height: 1.5;
}

.profile-pic {
  height: 200px;
  margin-bottom: 40px;
  width: 200px;
}

.intro {
  margin: auto;
  margin-top: 40px;
  width: 70%;
}

/* Projects */

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto;
  width: 90%;
}

.project-item {
  background-color: #66BFBF;
  border-radius: 8px;
  font-size: 150%;
  margin: 20px 20px;
  padding: 50px;
}

.project-item:hover {
  background-color: #11999E;
}

.project-container a {
  color: white;
  text-decoration: none;
}

/* Skills */

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto;
  width: 95%;
}

.skill-row {
  margin: 20px 30px;
  text-align: left;
  width: 320px;
}

@media only screen and (max-width: 815px) {
  .skill-row {
      width: 70%;
  }
}

.skill-row-image {
  border-radius: 50%;
  margin-right: 30px;
  width: 150px;
}

/* Academic history */

.academic-row {
  margin: 100px auto;
  text-align: left;
  width: 75%;
}

/* Contacts */

.wrapper {
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  margin: 30px auto 0;
}

.wrapper .icon {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  justify-content: center;
  height: 50px;
  margin: 20px;
  padding: 15px;
  position: relative;
  transition: all 0.2s;
  width: 50px;
}

@media only screen and (max-width: 680px) {
  .wrapper .icon {
      height: 20px;
      margin: 15px;
      width: 20px;
  }
}

.wrapper .tooltip {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  font-size: 14px;
  padding: 5px 8px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  visibility: hidden;
}

.wrapper .tooltip::before { /*The arrow of the tooltip*/
  bottom: -3px;
  content: "";
  height: 8px;
  left: 50%;
  position: absolute;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s;
  width: 8px;
}

.wrapper .icon:hover .tooltip {
  pointer-events: auto;
  top: -45px;
  visibility: visible;
}

.wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
  background-color: #0088cc;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #4267b2;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #e03c30;
  color: #ffffff;
}

.wrapper .email:hover,
.wrapper .email:hover .tooltip,
.wrapper .email:hover .tooltip::before {
  background-color: #fbbc05;
  color: #ffffff;
}